<ion-view view-title="{{ 'ARTISANS_TITLE' | translate }}" id="page_artisants">
<div class="bar bar-subheader item-input-inset">
  <label class="item-input-wrapper">
    <i class="icon ion-ios-search placeholder-icon"></i>
    <input ng-model="search.name" type="search" placeholder="{{ 'FILTER_SEARCH' | translate }}"> <!-- -- -- -- -- -- -- A TRADUIRE -- -- -- -- -- -- -->
  </label>
  <button class="button button-clear" style="color: black;">
    {{ 'FILTER_SEARCH_CANCEL' | translate }}
  </button>
</div>
  <ion-content class="has-subheader">
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="doRefresh()">
    </ion-refresher>
    <ion-list>
      <ion-item class="item item-thumbnail-left" ng-repeat="artisan in artisans | orderBy:getFilter('app.artisans') | filter: search" href="#/app/artisan/{{artisan.id}}">
        <img src="data/img/blacksmith.png"/>
        <h2>{{artisan.name}}</h2>
        <p>{{artisan.description}}</p>
      </ion-item>
    </ion-list>
  </ion-content>

  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear ion-android-funnel" ng-click="openFilter('app.artisans')"></button>
    <div id="filtresArtisans" class="filtres hidden">
      <ion-list>
        <ion-item class="item item-icon-left" ng-click="changeFilter('app.artisans','+name')">
          <i class="icon ion-arrow-down-c"></i>
          {{ 'FILTER_NAME_AZ' | translate }}
        </ion-item>
        <ion-item class="item item-icon-left" ng-click="changeFilter('app.artisans','-name')">
          <i class="icon ion-arrow-up-c"></i>
          {{ 'FILTER_NAME_ZA' | translate }}
        </ion-item>
      </ion-list>
    </div>
  </ion-nav-buttons>
</ion-view>