<ion-view view-title="{{ 'ARTISAN_TITLE' | translate }}" id="page_artisan">
  <ion-content scroll="false" class="padding">
    <img class="full-image" src="data/img/blacksmith.png" />
    <div id="pageContent" class="">
      <h2>{{artisan.name}}</h2>
    	<p>{{artisan.description}}</p>
    	<a href="#/app/artisanMap/{{artisan.id}}">
        <button class="button button-positive showMap" >
          {{ 'PROGRAMME_TEXTE_AFFICHER_CARTE' | translate }}
        </button>
      </a>
    </div>
  </ion-content>
</ion-view>
