<ion-view view-title="{{ 'ARTISANS_TITLE' | translate }}" id="page_artisants">
  <ion-content >
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="doRefresh()">
    </ion-refresher>

    <ion-list>
      <ion-item class="item item-thumbnail-left" ng-repeat="artisan in artisans" href="#/app/artisan/{{artisan.id}}">
        <img src="data/img/blacksmith.png"/>
        <h2>{{artisan.name}}</h2>
		<p>{{artisan.description}}</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
