<ion-view view-title="{{ 'CARTE_TITLE' | translate }}" id="page_carte">
  <ion-content scroll="false">
    <div id="mapid"></div>
    <img src="data/img/localisationicon.png" id="localisation-icon"/>
    <div class="filter">
    	<div class="filter-button" id="restaurant-filter"><div class="img"></div></div>
    	<div class="filter-button" id="artisans-filter"><div class="img"></div></div>
    	<div class="filter-button" id="events-filter"><div class="img"></div></div>
    	<div class="filter-button selected" id="default-filter"><div class="img selected"></div></div>
    </div>
  </ion-content>
  <div class="item map-popup">
  	<h2>Titre</h2>
  	<p id="description-popup">Description</p>
    <button class="button button-positive showMap" id="linkToSingle" >
      Voir le détail
    </button>
  </div>
</ion-view>
