<ion-view view-title="{{ 'CARTE_TITLE' | translate }}" id="page_carte">
  <ion-content scroll="false">
    <div id="mapid"></div>
    <div class="filter">
    	<div class="filter-button" id="restaurant-filter"><div class="img"></div></div>
    	<div class="filter-button" id="artisans-filter"><div class="img"></div></div>
    	<div class="filter-button" id="events-filter"><div class="img"></div></div>
    	<!--
    	<img src="data/img/icons/restaurant-filter.png" id="restaurant-filter"/>
    	<img src="data/img/icons/artisans-filter.png" id="artisans-filter"/>
    	<img src="data/img/icons/events-filter.png" id="events-filter"/>
    	-->
    </div>
  </ion-content>
  <div class="item map-popup">
  	<h2>Titre</h2>
  	<p id="description-popup">Description</p>
    <button class="button button-positive showMap" id="linkToSingle" >
      Voir le détail
    </button>
  </div>
</ion-view>
