<ion-view view-title="{{ 'CONCOURS_TAVERNE_TITLE' | translate }}" id="page_concourstaverne">
  <ion-content class="padding">
  	<h4>Coucours de tavernes et de restaurants</h4>
	  <p>Elle organise également - hormis "Les Médiévales" - diverses manifestations culturelles ayant un rapport avec le Moyen-Age dans la région.</p>
  	<p>L'association gère aussi l'entretien de la Porte St-Pierre et de son horloge "La Berbatte", qui date de 1713 - et fonctionne toujours, après une rénovation importante en 2011. Il est possible de la visiter. Pour tout renseignements, s'adresser à Jura Tourisme, au bureau de St-Ursanne.</p>
  </ion-content>
</ion-view>
