<ion-view view-title="{{ 'CONCOURS_COSTUMES_TITLE' | translate }}" id="page_concours-costumes">
  <ion-content class="padding">
  	<h2>{{ 'CONCOURS_COSTUMES_TEXTE_TITLE' | translate }}</h2>
	  <p>Vous êtes costumé et votre costume respecte le thème de la fête de cette année.</p>
    <p>Lorsque vous déambulez dans la fête, vous pourrez être repéré par un membre de notre équipe qui vous indiquera les modalités de participation.</p>
    <p>Si vous souhaitez relever le défi, nos photographes se chargeront de vous prendre en photo dans vos beaux atours afin de permettre au jury qui se réunira de comparer et de déterminer le plus beau costume de la fête dans la catégorie adulte et la catégorie enfant.</p>
    <p>La remise des prix aura lieu le dimanche 16h sur le podium devant l'Office du tourisme.</p>
    <p>Alors à vos costumes et que le meilleur gagne !</p>
  </ion-content>
</ion-view>
