<ion-view id="page_concourstaverne">
  <ion-nav-title>
    {{ 'CONCOURS_TAVERNE_TITLE' | translate }}
  </ion-nav-title>

  <ion-content class="padding">
  	<h4>{{ 'CONCOURS_TAVERNE_TITLE' | translate }}</h4>
	  <p>{{ 'CONCOURS_TAVERNE_TEXTE' | translate }}</p>
    <h4>{{ 'CONCOURS_TAVERNE_TEXTE_RESULT' | translate}}</h4>
    <p>{{ 'CONCOURS_TAVERNE_TEXTE_WAITING' | translate}}</p>
    <h4>{{ 'CONCOURS_RESTAURANT_TEXTE_RESULT' | translate}}</h4>
    <p>{{ 'CONCOURS_RESTAURANT_TEXTE_WAITING' | translate}}</p>
  </ion-content>
</ion-view>
