<ion-view view-title="{{ 'CONTACTS_TITLE' | translate }}" id="page_contacts">
  <ion-content class="padding">
    <img src="data/img/logo_medieval_simple.png"/>
  	<h4>L'association des Médiévales gère l'avenir de la manifestation et de son patrimoine.</h4>
	  <p>Elle organise également - hormis "Les Médiévales" - diverses manifestations culturelles ayant un rapport avec le Moyen-Age dans la région.</p>
  	<p>L'association gère aussi l'entretien de la Porte St-Pierre et de son horloge "La Berbatte", qui date de 1713 - et fonctionne toujours, après une rénovation importante en 2011. Il est possible de la visiter. Pour tout renseignements, s'adresser à Jura Tourisme, au bureau de St-Ursanne.</p>
	  <p>Tout le monde peut faire partie des "Médiévales". Vous pouvez manifester votre intérêt en devenant membre actif ou passif de cette association.</p>
    <h4>Nous contacter</h4>
    <p>
      <ul>
        <li>medievales@bluewin.ch</li>
        <li>Association Les Médiévales</li>
        <li>Case Postale 21</li>
        <li>CH-2882 Saint-Ursanne JU</li>
      </ul>
    </p>
  </ion-content>
</ion-view>
