<ion-view view-title="{{ 'CONTACTS_TITLE' | translate }}" id="page_contacts">
  <ion-content class="padding">
  	<h2>{{ 'CONTACTS_TEXTE_TITLE' | translate }}</h2>
	  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer suscipit diam id tortor feugiat rutrum. Ut vel ornare risus. Duis id massa eu libero tristique eleifend. Cras tincidunt mauris sed semper euismod. </p>
  	<p>Donec nec enim metus. Suspendisse commodo elit vel leo tristique, nec finibus nunc rhoncus. Etiam at eros congue, interdum purus vitae, eleifend augue. Nulla sit amet nibh sed augue tincidunt dignissim. Sed vulputate mauris et turpis dictum, vel cursus justo mattis. Ut in semper metus.</p>

	<p>Cras convallis interdum metus, vitae eleifend erat tempor vitae. Aliquam id velit magna. Ut luctus vel enim in sodales. Cras posuere elit vitae elit molestie, at pretium ante varius. Sed nec ante pharetra, auctor diam quis, semper erat. In a lectus feugiat, suscipit arcu at, vestibulum velit. Vestibulum eu lectus rhoncus, efficitur mauris sed, ultrices purus.
	</p>
  </ion-content>
</ion-view>
