<ion-view view-title="{{ 'RESTAURANTS_SUBTITLE' | translate }}" id="page_etablissements">
  <ion-content>
  <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="doRefresh()">
    </ion-refresher>
    <ion-list>
      <ion-item class="item item-thumbnail-left" ng-repeat="etablissement in etablissements | orderBy:getFilter('app.etablissements')" href="#/app/etablissement/{{etablissement.id}}">
        <img src="data/img/restaurant.jpg" />
        <h2>{{etablissement.name}}</h2>
        <p>{{etablissement.description}}</p>
        <p>{{etablissement.type}}</p>
      </ion-item>
    </ion-list>
  </ion-content>

  <ion-nav-buttons side="right">
    <button class="button button-icon button-clear ion-android-funnel" ng-click="openFilter('app.etablissements')"></button>
    <div id="filtres" class="hidden">
      <ion-list>
        <ion-item class="item item-icon-left" ng-click="changeFilter('app.etablissements','+name')">
          <i class="icon ion-arrow-down-c"></i>
          A-Z
        </ion-item>
        <ion-item class="item item-icon-left" ng-click="changeFilter('app.etablissements','-name')">
          <i class="icon ion-arrow-down-c"></i>
          Z-A
        </ion-item>
      </ion-list>
    </div>
  </ion-nav-buttons>
</ion-view>