<ion-view id="page_parametres">
  <ion-nav-title>
    {{ 'PARAMETRES_TITLE' | translate }}
  </ion-nav-title>

  <ion-content class="padding" scroll="true">
  	<h3>{{ 'PARAMETRES_TEXTE_SUBTITLE_1' | translate }}</h3>
    <ion-list ng-click="changeLang(currentLang)">
      <ion-radio ng-model="currentLang" ng-value="'fr'"><img src="data/img/lang/fr.png" />Français</ion-radio>
      <ion-radio ng-model="currentLang" ng-value="'de'"><img src="data/img/lang/de.png" />Deutsch</ion-radio>
    </ion-list>
    <h3>{{'AIDE_TEXTE_SUBTITLE_1' | translate}}</h3>
    <p>{{'AIDE_TEXTE_CONTENT' | translate}}</p>
    <img src="data/img/explanation.png" class="explanation"/>
  </ion-content>
</ion-view>
