<ion-view id="page_programme">
  <ion-nav-title>
    {{ 'PROGRAMME_TITLE' | translate }}
  </ion-nav-title>

  <ion-content>
    <img src="data/img/event-test.jpg"/>
    <div id="pageContent">
      <h4>{{programme.name}}</h4>
    	<p>{{programme.description}}</p>
      <h5>{{ 'PROGRAMME_TEXTE_DEBUT' | translate }}</h5>
    	<p>{{programme.startText}}</p>
      <h5>{{ 'PROGRAMME_TEXTE_FIN' | translate }}</h5>
      <p>{{programme.endText}}</p>
    	<p>{{ 'PROGRAMME_TEXTE_STATUT' | translate }} <span style="color:{{ programme.color }};">{{ programme.etat }}</span></p>
      <a href="#/app/programme-map/{{programme.id}}">
        <button class="button button-positive showMap" >
          {{ 'PROGRAMME_TEXTE_AFFICHER_CARTE' | translate }}
        </button>
      </a>
    </div>
  </ion-content>
</ion-view>
