<ion-view view-title="Programmes" id="page_programmes">
  <ion-content>
    <ion-list>

      <ion-item class="item item-thumbnail-left" ng-repeat="programme in programmes" href="#/app/programme/{{programme.id}}">
      	 <img src="data/img/image-test.jpg" />
        <h2>{{programme.name}}</h2>
        <p>{{programme.description}}</p>
        <p>{{programme.start}} - {{programme.end}}</p>
        <p>Statut: <span style="color:green;">À venir</span></p>
      </ion-item>

    </ion-list>
  </ion-content>
</ion-view>
