<ion-view id="page_securite">
  <ion-nav-title>
    {{ 'SECURITE_TITLE' | translate }}
  </ion-nav-title>

  <ion-content class="padding">
  	<h3>{{ 'SECURITE_TEXTE_TITLE' | translate }}</h3>
    <h4>Parkings</h4>
    <p>Merci ed vous conformer aux demandes des parqueurs. Signalez-leur tout problème rencontré. Des navettes de transport relient les emplacements les plus éloignés de la fête.
      Pour le retour, rendez-vous aux arrêts balisés aux portes de la ville.</p>
    <h4>Feu</h4>
    <p>Beaucoup de tavernes et d'animations offrent le spectacle de foyers ouverts. Prenez-garde, notamment avec
      vos enfants, aux risques de combustion. La présence de paille disséminée dans toute la ville rend particulièrement
      dangereux dejouer avec le feu. Fumeurs, attentions aux mégots de cigarette !</p>
    <h4>Animaux</h4>
    <p>Sur demande des artistes, les animaux ne sont pas conseillés sur la fête. Prenez du recul par rapport aux artistes et à leurs animaux savants.</p>
    <h4>Infirmerie</h4>
    <p>Un service de samaritains est présent en permanence durant la fête (voir carte).</p>
    <h4>Toilettes</h4>
    <p>Des cabines sont réparties sur le site. Les handicapés en trouveront à la rue de l'Hôpital et aux W.-C. publics (CHF 1.- à la rue du Quartier 4 (voir carte)).</p>
    <h4>Informations</h4>
    <p>En cas de questions sur le déroulement de la Fête, de réclamations ou de perte d'effets personnels, veuillez vous rendre à la Permanence. (voir carte).</p>
    <h4>Prévention routière</h4>
    <p>Chauffeurs, restez concentrés lors des départs. Préférez les transports publics si vous ne vous sentez plus capable de conduire.</p>
    <h4>Installations et Artisans</h4>
    <p>Respectez les installations des artistes et artisans invités. De nuit, laissez dormir les soldats dans leur campement.</p>
    <h4>Prix des entrées</h4>
    <ul>
      <li>Gratuit pour les enfants de moins de 16 ans</li>
      <li>Vendredi (dès 18 heures) 12.- CHF/11.- €</li>
      <li>Samedi ou dimanche (dès 9 heures) 18.- CHF/16.- €</li>
      <li>Combiné samedi et dimanche 30.- CHF/27.- €</li>
    </ul>
  </ion-content>
</ion-view>
