<ion-view view-title="{{ 'TOUTWEEKEND_TITLE' | translate }}" id="page_weekend">
  <ion-content class="padding">
    <h4>Les chevaliers de la table ronde</h4>
    <p>Campement arthurien : tente avec trône, le Roi Arthur, la Reine, dames et demoiselles de cour, courtisans, chevaliers, apothicaire, pages...</p>
    <h4>Trois expositions inédites au Cloître et au Musée lapidaire</h4>
    <ul>
      <li>La Compagnie Via Cane : 400 marionnettes du monde entier</li>
      <li>Les instruments de musique médiévaux du groupe Hauvoy</li>
      <li>Les Chevaliers de la Table Ronde, exposition sur bâche</li>
    </ul>
    <h4>Animations permanentes dans les rues de la ville</h4>
    <p>Avec plus de 600 musiciens, saltimbanques, artisans en démonstration, animaux savants, (...)</p>
    <p>Et dès le vendredi soir, une centaine d'artisans avec les métiers d'autrefois: luthier, tonnelier, vannier, extraction de minerai de fer, tailleur de pierre, forgeron,
    travail de l'ambre, de l'étain, du bronze, du cuir, du bois, du feutre, pâte à papier végétale. Marché médiéval avec des animaux vivants.</p>
    <button class="button button-positive showMap" ng-click="goToArtisans()">
      Voir la liste des artisans
    </button>
    <h4>Production de Tête de Moine</h4>
    <p>Samedi et dimanche à 11h et 15h.</p>
  </ion-content>
</ion-view>
