#page_accueil{
	ion-content{
		background-image: url('../data/img/backgroundblured.jpg');
		background-repeat: no-repeat;
		background-size: cover;

		.logo_accueil {
			vertical-align: middle;
			margin-top: 50px;
			padding: 20px;
		}

		.accueil_timer{
			margin-top: 40px;
			color: white;
			font-size: 1.5em;
			text-align:center;

			.accueil_timer_title{
				padding:15px;
				border-bottom:0;
				font-size: 0.9em;
			}

			.accueil_timer_container{
				.accueil_timer_box{
					border-left:0;
				} 
				.font-bold{
					font-size:3.4em;
					margin:30px 0;
					display:block;
				}
			}

			.row{
				padding:0;
			}

		}

		.accueil_event_list{
			font-size: 1.5em;
			text-align: center;
			display: none;
			
			h1 {
				padding: 12px;
				margin: 0;
				font-size: 24px;
				border-color: #b51b16;
    			background-color: #e3221b;
    			color: #fff;
			}

			ion-content {
				position: absolute;
				bottom: 0px;
				background: white !important;
			}
		}

		#quickmenu {
			color: white;
			font-size: 16vw;
			padding: 40px;
			position: absolute;
			bottom: 0;
			width:100%;

			.col{
				text-align:center;
			}

			a {
				color: white !important;
				padding: 0px !important;
			}

			.quickmenu_container{
				border: solid white 1px;
				border-left: none;
				border-right: none;
			}

			.ion-ios-pulse-strong:before {
				content: url('../data/img/iconartisan.svg') !important;
				width: 100%;
			}
		}
	}
	.has-header {
		top: 0;
	}
}
