#mapid {
  width: 100%;
  height: 94vh;
  position: fixed;
  bottom: 0;
}

.leaflet-top + .leaflet-right{
  .leaflet-bar, .leaflet-control, .leaflet-control-custom {
    background: url('../data/img/localisationicon.png') center center;
    background-color: white;
    background-size: 30px 30px;
    width: 40px;
    height: 40px;
    padding: 10px;
    background-repeat: no-repeat;
  }
}

.leaflet-popup-content-wrapper {
  border-radius: 0px !important;
}

h2 {
  font-weight: bold;
}
