/* Empty. Add your own CSS if you like */
#page_etablissements{

}

.rating{
  color: #a9a9a9;
  margin: 0;
  padding: 0;
}

ul.rating {
  display: inline-block;
}

.rating li {
  list-style-type: none;
  display: inline-block;
  padding: 1px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  font-size: 2em;
}

.rating .filled {
  color: yellow;
}

.rating-system {
  padding: 10px;
}

.star {
  size: 40px;
}

h5 {
  font-weight: bold;
}

#pageContent {
  padding: 15px;
}

.showMap {
  width: 100%;
}
