#page_parametres{
	.item-content{
		padding:5px;

		img{
			vertical-align: middle;
    		margin: 10px;
		}

		span{
			vertical-align: middle;;
		}


	}

	.explanation {
		width: 60%;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}
}
